@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(./raleway/Raleway-Thin.ttf);
    font-weight: 100;
}